.zindex {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    }
button.fluid.ui.pink.disabled.button {
    font-size: x-large;
}

img.auth-image {
    float: left;
    height: 250px;
    width: 300px;
}


div.ui.grid.container {
    margin-top: 5%;
}

table.ui.inverted.pink.table {
    margin-top: 5%;
    text-align: center;
}

div.column.p {
    font-size: larger;
}

div.ui.three.column.doubling.stackable.grid.container {
    text-align: center;
    margin: 5%;
    background-color: orange;
    font-size: large;
}