body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 34px;
  color: #777777;
  background: url("../images/full-bloom.png");
}

* {
  box-sizing: border-box;
}

#collection {
  position: fixed;
  z-index: 99;
  width: 100%;
  margin: 0 0 30px;
  overflow: auto;
  color: #ffffff;
  border-bottom: 2px solid #cccccc;
}
#tagme {
  float: left;
  width: 350px;
  height: 90px;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: 30px;
  text-align: center;
  font-weight: 700;
  line-height: 90px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background:plum;

}

nav {
  float: right;
  margin-top: 25px;
}

nav a {
  display: inline-block;
  padding-left: 15px;
  margin-left: 15px;
  line-height: 18px;
  color: #999;
  text-decoration: none;
  border-left: 1px solid #efefef;
}

#main-container {
  padding-top: 130px;
  min-height: calc(100vh - 70px);
  clear: both;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  clear: both;
}
.main-section {
  position: absolute;
  float: left;
  width: 100%;
  max-width: 960px;
  margin-bottom: 8%;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #dddddd;
  clear: both;
}

h1 {
  font-family: Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: plum;
  margin-bottom: 20px;
  border-bottom: 3px solid #dddddd;
}

#contact-form ul {
  margin-bottom: 20px;
}

#contact-form li {
  margin-bottom: 10px;
}

label,
input[type=text],
input[type=email],
textarea {
  display: block;
  width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea {
  height: 115px;
}

input[type=submit] {
  padding: 10px;
  font-size: 18px;
  color: #ffffff;
  cursor: pointer;
  background: plum;
  border: 0 none;
}

#forms {
  padding-top: 1%;
  font-size: 120%;
}

nav#form-link {
  color: #999;
  text-decoration: none;
  float: left;
}

footer {
  padding: 30px 0;
  clear: both;
  font-size: 12px;
  color: #ffffff;
  color: #cccccc;
  text-align: center;
  background: #666666;
  border-top: 8px solid plum;
  height: 50px;
  width:100%;
  position: fixed;
}

@media (max-width: 768px) {
  nav {
    float: left;
  }
}

@media (max-width: 768px) {
  .main-section {
    margin-top: 40px;
    padding-bottom: 60px;
  }
}

@media (max-width: 640px) {
  nav {
    float: left;
  }
}

@media (max-width: 640px) {
  .main-section {
    margin-top: 40px;
    padding-bottom: 60px;
  }
}

p {
    margin-bottom: 20px;
    color: black;
    font-family: 'Merriweather', serif;
}

@media (max-width: 768px) {
  nav {
    float: left;
  }
}

@media (max-width: 768px) {
  .main-section {
    margin-top: 40px;
    padding-bottom: 60px;
  }
}

@media (max-width: 640px) {
  nav {
    float: left;
  }
}

@media (max-width: 640px) {
  .main-section {
    margin-top: 40px;
    padding-bottom: 60px;
  }
}






